In [2]:
import pandas as pd 
import xml.etree.ElementTree as et 

xtree = et.parse("./sample_data/students.xml")
xroot = xtree.getroot() 

df_cols = ["name", "email", "grade", "age"]
rows = []

for node in xroot: 
    s_name = node.attrib.get("name")
    s_mail = node.find("email").text if node is not None else None
    s_grade = node.find("grade").text if node is not None else None
    s_age = node.find("age").text if node is not None else None
    
    rows.append({"name": s_name, "email": s_mail, 
                 "grade": s_grade, "age": s_age})

out_df = pd.DataFrame(rows, columns = df_cols)
out_df

     name            email grade age
0    John    john@mail.com     A  16
1   Alice   alice@mail.com     B  17
2     Bob     bob@mail.com     C  16
3  Hannah  hannah@mail.com     A  17