In [19]:
import pandas as pd 
import xml.etree.ElementTree as etree

In [30]:
tree = etree.parse('./sample_data/employee2.xml')

In [31]:
root = tree.getroot()
columns = ["name", "email", "age"]
datatframe = pd.DataFrame(columns = columns)
for node in root: 
    name = node.attrib.get("name")
    mail = node.find("email").text if node is not None else None
    age = node.find("age").text if node is not None else None
    datatframe = datatframe.append(pd.Series([name, mail, age], index = columns), ignore_index = True)

In [32]:
datatframe

     name            email age
0    John    john@mail.com  16
1   Alice   alice@mail.com  17
2     Bob     bob@mail.com  16
3  Hannah  hannah@mail.com  17