In [ ]:
pip install sqlalchemy

In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
df = pd.DataFrame({'A': pd.date_range('2013-01-01 09:00:00', periods=3),
                        'B': np.arange(3.0)})
df

                    A    B
0 2013-01-01 09:00:00  0.0
1 2013-01-02 09:00:00  1.0
2 2013-01-03 09:00:00  2.0

In [ ]:
df.to_sql('test_datetime', con=engine)

# with read_table -> type information from schema used
result = pd.read_sql_table('test_datetime', con=engine)
result

   index                   A    B
0      0 2013-01-01 09:00:00  0.0
1      1 2013-01-02 09:00:00  1.0
2      2 2013-01-03 09:00:00  2.0

In [ ]:
result = result.drop('index', axis=1)
result

                    A    B
0 2013-01-01 09:00:00  0.0
1 2013-01-02 09:00:00  1.0
2 2013-01-03 09:00:00  2.0

In [ ]:
pd.testing.assert_frame_equal(result, df)

In [ ]:
# with read_sql -> no type information -> sqlite has no native
result = pd.read_sql_query('SELECT * FROM test_datetime', con=engine)
result = result.drop('index', axis=1)
result

                            A    B
0  2013-01-01 09:00:00.000000  0.0
1  2013-01-02 09:00:00.000000  1.0
2  2013-01-03 09:00:00.000000  2.0